{% extends "layout.html" %}
{% block content %}
    <img src="http://soderblick1.bostadsratterna.se/system/files/styles/default/private/Brf_Soderblick_1_1.jpg?itok=IPoHPLgR" width="100%">
    <div class="content-section">
        <h1>Om föreningen</h1>
        <p>Föreningen har 2 fastigheter om totalt 24 lägenheter. Föreningen är en äkta bostadsrättsförening.</p>
        <p>I föreningens byggnader finns gemensamma utrymmen såsom:</p>
        <ul>
            <li>Cykel/Barnvagnsrum</li>
            <li>Garage (totalt 16 platser)</li>
            <li>Källarförråd</li>
            <li>Soprum</li>
        </ul>
        <p>Samtliga entrédörrar är automatiska och det finns hiss.</p>
        <h3 class="article-metadata"><a href="http://soderblick1.bostadsratterna.se/system/files/Stadgar_regstrerade_2015-08-07.pdf">Föreningens stadgar</a></h3>
        <h3 class="article-metadata"><a href="http://soderblick1.bostadsratterna.se/system/files/Trivselregler_2015-09-05.pdf" >Föreningens Trivselregler</a></h3>
    </div>
{% endblock content %}
